 .aboutThings {
  float: left;
  width: 33.33%;
}

body { background-color: #c3bbe3; 
  line-height: 1.6em;
  margin: 0;
}

a { text-decoration: none;
color: #000;}

a:hover { color: red;}

nav {margin: 5px;
display:flex;
justify-content: space-evenly;}

nav li { 
  display:inline;
  padding: 1em;
  list-style: none;
}

#index-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

h1 {background-color: #f67d97; } 

footer { text-align: center }

H2 { text-align: center }

form label {
  font-family: Arial, Helvetica, sans-serif;
} 

.quote{
  background-color: aquamarine;
  border: 7px solid rgb(94, 30, 197);
  padding: 20px;
  font-size: x-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1.2em;
  box-sizing: border-box;
  margin-top: 1.2em;
}

.sutra {column-count: 3;
float:right;
width: 70%;
border-right: 10px red solid;
border-top: 10px red solid;
box-sizing: border-box;}

#avalokitesvara_picture{float:left;
width: 30%;
box-sizing: border-box;}

H1 { text-align: center;
  font-family: 'Courier New', Courier, monospace;}

.sutra {
font-family: Avantgarde, sans-serif;}

.avalokitesvara {
column-count:2;
box-sizing: border-box;}

.backHome { text-align: center;
margin: 15px; }

#sutra_link {font-size: larger;
font-weight: 900;}

#contact_header { letter-spacing: 10px;
font-style: italic;
background-color: aliceblue; }


.contact_form { padding:20px;
text-align: center;}

.form {padding-bottom: 15px;}

.form label {display:block;}

.form input, .contact_form textarea {padding:8px;
width:25%;}

.button { 
  background-color: #333;
color:#fff;
padding:10px 15px;
border:none;
}

.button:hover {
  background-color: red;
  color:#fff;
}

#dice {float: right;}